@import "tailwindcss";
@import "@heroui/styles"; 

@theme {
  --font-display: var(--font-plus-jakarta-sans), sans-serif;
  --font-sans: var(--font-inter), sans-serif;

  --color-surface: #f7faf6;
  --color-surface-dim: #d7dbd7;
  --color-surface-bright: #f7faf6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f1f5f0;
  --color-surface-container: #ebefea;
  --color-surface-container-high: #e5e9e5;
  --color-surface-container-highest: #e0e3df;
  --color-on-surface: #181d1a;
  --color-on-surface-variant: #3f4943;
  --color-inverse-surface: #2d312f;
  --color-inverse-on-surface: #eef2ed;
  --color-outline: #6f7a73;
  --color-outline-variant: #bec9c2;
  --color-surface-tint: #096c4f;
  --color-primary: #00543c;
  --color-on-primary: #ffffff;
  --color-primary-container: #0f6e51;
  --color-on-primary-container: #9aedc9;
  --color-inverse-primary: #84d7b3;
  --color-secondary: #835400;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #fdb244;
  --color-on-secondary-container: #6e4600;
  --color-tertiary: #474948;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #5e6160;
  --color-on-tertiary-container: #dbdcda;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-primary-fixed: #a0f3cf;
  --color-primary-fixed-dim: #84d7b3;
  --color-on-primary-fixed: #002115;
  --color-on-primary-fixed-variant: #00513a;
  --color-secondary-fixed: #ffddb5;
  --color-secondary-fixed-dim: #ffb956;
  --color-on-secondary-fixed: #2a1800;
  --color-on-secondary-fixed-variant: #633f00;
  --color-tertiary-fixed: #e1e3e1;
  --color-tertiary-fixed-dim: #c5c7c5;
  --color-on-tertiary-fixed: #191c1b;
  --color-on-tertiary-fixed-variant: #444746;
  --color-background: #f7faf6;
  --color-on-background: #181d1a;
  --color-surface-variant: #e0e3df;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #f7faf6;
  color: #181d1a;
}